{%extends "registration/base.html"%} {% load bootstrap3 %} {% block content %}
<div class="container" style="background: linear-gradient(to right, #5f8ba8, #3a6073);">

    <div class="row">
        <!-- Empty div -->
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if form.errors %}
            <p>there might be a missing information </p>
            {% endif %}

            <div class="panel panel-default" style="background: linear-gradient(to right, #141e30, #243b55); color: white;">

                <div class="panel-heading" style="background-color: white">
                    <h3 class="text-center">Sign Up</h3>
                </div>
                <div class="panel-body" style="color: whitesmoke">

                    <form action="/accounts/register/" method="post">
                        {% csrf_token %} {% bootstrap_form form layout='inline'%}
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
                        </div>
                        <p>do you have an account<a href="/accounts/login/">Login</a></p>

                        <input type="hidden" name="next" value="{{next}}">

                    </form>

                    <!-- -->

                </div>

            </div>

        </div>

        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}