{% extends "base.html" %} {% load bootstrap3 %} {% block content %}


&nbsp;&nbsp;
<a href="#" id="forgot-password-link" class="forgot-password-link">
  Forgot Password?
</a>
</div>

</form>

    <form class="forgot-password-form login-form" id="forgot-password-form" action="#0">

<h3>Reset Your Password</h3>

<div class="field">
<label for="forgot-email">Username Or Email</label>
<input type="text" id="forgot-email" name="forgot-email" placeholder="your@email.com" required>
</div>

<div class="field">
<input id="forgot-email-btn" type="submit" value="Send Password Reset Email" class="button button-medium">
</div>

<div id="sent-message">
<div id="sent-message-message"></div>
</div>

</form>


  </div>

</div>
{% endblock %}