{% extends "base.html" %} {% block content %}


<div class="container">
    <div class="intro">
        <h2>Searching ...</h2>
    </div>
    <hr> {% if searched_projects %}
    <h5>Found {{ searched_projects|length }} project(s) for the searched term '{{message}}'</h5>
    {% else %}
    <h5> Found 0 project(s) for the search term '{{message}}'</h5>
    {% endif %}

    <br> {% if searched_projects %}
    <ul class="list-group list-group-flush">
        {% for project in searched_projects %}
        <li class="list-group-item" style="background-color: transparent;">
            <p class="firstletter">{{project.title}}
                <a href="{% url 'project' project.id %}" style="float:right;">
                    <button type="button" class="btn btn-info">View</button>
                </a>
            </p>

        </li>
        {% endfor %}
    </ul>
    {% endif %} {% endblock%}